/* Styling for the map. Use this to modify the site. */

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

p {
  font-size: 1.2em;
  font-weight:normal;
  margin: 10px;
  text-align: left;
}


#map {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
}

#features {
width: 50%;
margin-left: 50%;
font-family: sans-serif;
overflow-y: scroll;
background-color: #fafafa;
}
section {
padding: 25px 50px;
line-height: 25px;
border-bottom: 1px solid #ddd;
opacity: 0.25;
font-size: 16px;

}
section.active {
opacity: 1;
}
section:last-child {
border-bottom: none;
margin-bottom: 400px;
}
